<h1><span data-i18n="skills.my_skills"><i class="fas fa-question-circle" style="color:#f83e4b"></i>  About</span></h1>

<div>
    I like doing many things. See the <a href="">homepage</a> for a more holistic introduction. A link to resume and CV will be coming in the future. 

    What follows is more of a brief intro to my pedagogical philosophy, an educational Weltanschauung of sorts:
	
	<ul>
	    
	<li> In today's information age, learning is no longer about memorization of facts, but rather the ability to link those facts to new ideas and apply problem-solving skills. Through increased awareness and practice of "meta-skills", learners acquire a foundation that engenders intellectual growth through the rest of their lives. 
	    
	<li> Too often, basic principles are obfuscated by advanced notation or technical jargon; I believe the two can and should be decoupled. Everyone can learn and appreciate big-picture models &amp; apply their understanding to better decision-making.
	    
	<li> Teaching is much more than simply transmitting correct information to learners. It's a dynamic profession where learners' needs and the best ways to meet them are constantly in flux. Many pedagogical methods are currently being developed to improve our current education system, and it's time to research what actually works and re-imagine the space of educational possibilities. As an educator, I must constantly question my assumptions and re-examine my practice.
	    
	<li> Learners are diverse in their needs and goals. I believe in creating equitable learning environments with low floors (scaffolding accessible entry points), high ceilings (high expectations and not stopping at "good enough"), and wide walls (many paths to success). 

	</ul>

</div>