<h1><i class="far fa-lightbulb" style="color:#f83e4b"></i> Skills</h1>


<h4><i class="fas fa-code"></i> Technical</h4>
intermediate Python&nbsp;&nbsp;·&nbsp;&nbsp;LaTeX&nbsp;&nbsp;·&nbsp;&nbsp;basic HTML, CSS&nbsp;&nbsp;·&nbsp;&nbsp;Wordpress&nbsp;&nbsp;·&nbsp;&nbsp;Github

<h4><i class="fas fa-language"></i> Languages</h4>
conversational Mandarin&nbsp;&nbsp;·&nbsp;&nbsp;reading proficiency in German, Spanish, Latin&nbsp;&nbsp;·&nbsp;&nbsp;beginner Japanese, Korean

<h4><i class="far fa-comment"></i> Soft Skills</h4>
communication&nbsp;&nbsp;·&nbsp;&nbsp;critical thinking&nbsp;&nbsp;·&nbsp;&nbsp;organization&nbsp;&nbsp;·&nbsp;&nbsp;adaptability&nbsp;&nbsp;·&nbsp;&nbsp;receptiveness to feedback&nbsp;&nbsp;·&nbsp;&nbsp;user-centered design

<h4><i class="fas fa-book"></i> Knowledge Base </h4>
<p>Tier 1: Education </p>

<p>Tier 2: Earth Systems/EAPS&nbsp;&nbsp;·&nbsp;&nbsp;Astronomy&nbsp;&nbsp;·&nbsp;&nbsp;Linguistics&nbsp;&nbsp;·&nbsp;&nbsp;Physics&nbsp;&nbsp;·&nbsp;&nbsp;Biology<p>

<p>Tier 3: CS&nbsp;&nbsp;·&nbsp;&nbsp;Math&nbsp;&nbsp;·&nbsp;&nbsp;Literature &amp; Writing</p>

<p><i> Note: Tiers are defined as follows: (I) expert; would be able to (II) have done research or extensive coursework in , but have not lead projects on (III) consider myself competent in and have the foundational skills, but limited formal coursework </i></p>

<h4><i class="fas fa-heart"></i> Hobbies</h4>
<a href="https://www.mit.edu/~puzzle/resources/thinkingaboutpuzzles.html">puzzlehunting</a> &nbsp;&nbsp;·&nbsp;&nbsp; <a href="https://www.goodreads.com/katiehdunn">reading</a>&nbsp;&nbsp;·&nbsp;&nbsp;writing&nbsp;&nbsp;·&nbsp;&nbsp;copyediting&nbsp;&nbsp;·&nbsp;&nbsp;learning
